html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  background-color: rgb(7, 22, 15);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2 {
  text-align: center;
  color: aliceblue;
}

#buttonArea button {
  width: 100px;
  height: 40px;
  margin: 5px;
  border-radius: 15px;
  font-size: larger;
  box-shadow: inset 5em 1em rgb(246, 232, 149);
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
/* To Design Denisa */

.displaySpan {
  display: none;
}

button {
  width: 100px;
  height: 40px;
  margin: 5px;
  border-radius: 15px;
  font-size: larger;
  z-index: 500;
}

section {
  display: flex;
  border-radius: 4px;
  padding: 40px;
  max-height: fit-content;
}

.statements {
  background-color: rgb(25, 28, 25);
  color: white;
  padding: 10px;
  font-size: larger;
  text-align: center;
  margin: 30px;
  height: 30px;
  position: static;
  block-size: fit-content;
  border-radius: 10px;
  border-bottom: 3px solid rgb(234, 175, 175);
  /* box-shadow: 10px 5px 5px rgb(44, 90, 69); */
  /* box-shadow: 10px -16px teal; */
  /* box-shadow: 12px 12px 12px 1px rgb(0, 255, 0, 0.2); */
  box-shadow: 3px 3px red, -0.2em 0 0.4em rgb(16, 228, 48);
}
/* .divs:hover {
  z-index: 1000;
  cursor: pointer;
  color: #ffff00;
  position: absolute;
} */

.crossClickFalse {
  font-size: larger;
  text-align: center;
  font-style: oblique;
  text-decoration: line-through;
}

.crossClick {
  max-height: max-content;
  border-radius: 4px;
  padding: 10px;
  font-size: larger;
  text-align: center;
  margin: 10px;
  font-style: italic;
  color: red;
  cursor: pointer;
  /* z-index: -1; */
}
img {
  height: 150px;
  padding: 30px;
}

img #wrapImg1 {
  padding: 10px;
  border: 3px solid rgb(18, 230, 71);
  border-radius: 50%;
  transform: rotate(-15deg);
  background-color: white;
  margin: 20px;
  /* box-shadow: inset 15px 12px 2px 8px rgba(89, 224, 89, 0.2); */
  box-shadow: inset -0.2em 0 0.9em rgb(16, 228, 48), 2px 2px rgb(209, 47, 47);
}
#ana {
  height: 150px;
  padding: 30px;
  transform: rotate(-15deg);
  z-index: 1;
}
img #wrapImg2 {
  padding: 15px;
  border: 3px solid rgb(52, 52, 61);
  border-radius: 50%;
  transform: rotate(+14deg);
  background-color: white;
  margin: 20px;
  box-shadow: inset -0.2em 0 0.9em rgb(16, 228, 48), 2px 2px rgb(209, 47, 47);
}
#simeon {
  height: 150px;
  padding: 30px;
  transform: rotate(+13deg);
  z-index: 1;
}

#textInputs {
  width: 100%;
  height: 75px;
}

#moreContent button {
  border: 0;
  margin: 0;
  border-radius: 3px;
  background-color: black;
}
#moreContent {
  /* display: inline-block; */
  color: white;
}
footer {
  display: inline-block;
  align-items: center;
  text-align: center;
  color: white;
}
#sourceCode {
}

@media print {
  textarea {
    display: none;
  }
  footer {
    display: none;
  }
  .statements {
    color: black;
    border: 2px solid black;
    box-shadow: none;
  }
  h1,
  h2 {
    color: black;
  }
}
