html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  background-color: rgb(205, 244, 244);
}

h1,
h2 {
  text-align: center;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
/* To Design Denisa */
button {
  width: 100px;
  height: 40px;
  margin: 5px;
  border-radius: 15px;
  font-size: larger;
}

section {
  border: 5px double blue;
  border-radius: 4px;
  padding: 40px;
  block-size: fit-content;
}

.divs {
  background-color: rgb(151, 242, 151);
  padding: 10px;
  font-size: larger;
  text-align: center;
  margin: 30px;
  height: 30px;
  /* position: static;
  block-size: fit-content; */
  border-radius: 10px;
}

.crossClickFalse {
  font-size: x-large;
  text-align: center;
  font-style: oblique;
  text-decoration: line-through;
}
.crossClick:hover {
  cursor: pointer;
}
.crossClick {
  border: 2px solid black;
  border-radius: 4px;
  padding: 10px;
  font-size: large;
  text-align: center;
  margin: 10px;
  font-style: italic;
  color: red;
  cursor: pointer;
  z-index: -1;
}

#ana {
  height: 150px;
  display: flex;
  transform: rotate(-10deg);
  /* bottom: -30px;
  left: -70px; */
  /* position: relative; */
  z-index: 1;
  padding: 20px;
}
#simeon {
  padding: 30px;

  height: 150px;
  transform: rotate(+10deg);
  /* top: 377px;
  left: 60px; */
  /* position: relative; */
  z-index: 1;
}
